{% extends 'base.html' %}
{% block content %}
<div class="mt-6 px-12 py-12 bg-amber-900 rounded-full-xl">
    <div class="flex gap-64 justify-between text-white ">
        <div class="bg-red-600 h-10 rounded-xl px-4 py-1"><h2 class="mb-12 text-2xl">Categories</h2></div>

        <div class="bg-red-600 h-10 rounded-xl px-4 py-1"><h2 class="mb-12 text-2xl">New Products</h2></div>
    </div>
    <div class="">
        <div class="flex flex-col px-5 gap-52 mt-16">
            {% for categories in categories %}
            <div class="text-center flex flex-row items-center justify-between gap-24 rounded-xl  text-white">
                <h2 class="px-5  items-center font-serif text-xl">{{categories.name}}</h2>
                {% for item in items %}
                {% if categories.name in item.category.name %}
                <div class="grid grid-cols-3 gap-2 hover:{{item.description}}">
                    <div class="w-32">
                        <img src="{{item.image.url}}" alt="" class="w-32 h-32 ">
                        <p>{{item.name}}</p>
                    </div> 
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>





{% endblock %}